/*
    이롭게 바탕체
    https://www.iropke.com/archive/iropke-batang-css.html
*/
@import url('font-iropke-batang.css');

body {
    font-family: 'Lato', 'Iropke Batang';
}
p {
    line-height: 1.8em;
    margin: 0em;
}
li p {
    line-height: 1.8em;
    margin: 0em;
}
article footer {
    padding: 0em 0em 2em 0em;
}
